[Unit]
Description=High-performance, schema-free document-oriented database

[Service]
User=mongold
Group=mongold
Environment="OPTIONS=--quiet -f /etc/mongold.conf"
ExecStart=/usr/local/bin/mongold $OPTIONS run
PIDFile=/var/run/mongoldb/mongold.pid

[Install]
WantedBy=multi-user.target
