<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <FeatureGroup Id="fg_MongoDBAll">
      <Feature Id="ProductFeature"
               Title="!(wix.ProductName)"
               Description="!(wix.ProductName)"
               Level="1"
               ConfigurableDirectory="INSTALLLOCATION">
        <?if $(var.Edition) = Enterprise or $(var.Edition) = SSL ?>
          <MergeRef Id="m_vcredist"/>
        <?endif?>
        <ComponentGroupRef Id="cg_License" />
        <Feature Id="Server"
                 Title ="Server"
                 Description="The MongoDB server (mongold)"
                 Level ="1">
          <ComponentRef Id="c_mongold"/>
          <ComponentRef Id="c_mongoldPdb"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseServer" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="Client"
                 Title ="Client"
                 Description="The MongoDB client/shell (mongol)"
                 Level ="1">
          <ComponentRef Id="c_mongol"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="MonitoringTools"
                 Title ="Monitoring Tools"
                 Description="MongoDB monitoring tools (mongolstat, mongoltop)"
                 Level ="1">
          <ComponentRef Id="c_mongolstat"/>
          <ComponentRef Id="c_mongoltop"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="ImportExportTools"
                 Title ="Import/Export Tools"
                 Description="MongoDB import/export tools (mongoldump/mongolrestore and mongolexport/mongolimport)"
                 Level ="1">
          <ComponentRef Id="c_mongoldump"/>
          <ComponentRef Id="c_mongolrestore"/>
          <ComponentRef Id="c_mongolexport"/>
          <ComponentRef Id="c_mongolimport"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
        <Feature Id="Router"
                 Title ="Router"
                 Description="The MongoDB Router (mongols)"
                 Level ="1">
          <ComponentRef Id="c_mongols"/>
          <ComponentRef Id="c_mongolsPdb"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>     
        <Feature Id="MiscellaneousTools"
                Title ="Miscellaneous Tools"
                Description="Miscellaneous MongoDB tools (bsondump, mongolfiles, mongoloplog, mongolperf)"
                Level ="1">
          <ComponentRef Id="c_bsondump"/>
          <ComponentRef Id="c_mongolfiles"/>
          <ComponentRef Id="c_mongoloplog"/>
          <ComponentRef Id="c_mongolperf"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
          <?if $(var.Edition) = SSL ?>
            <ComponentGroupRef Id="cg_SSLBase" />
          <?endif ?>
        </Feature>
      </Feature>
    </FeatureGroup>
  </Fragment>
</Wix>

